

.navbar{
  background-color: rgb(68, 68, 61);
}
.Jumbotron{
  background-color:  rgb(69, 219, 230);
 

}


.footer{

  background-color: rgb(68, 68, 61);
  text-align: center;
  color: #ffff;
  padding: 15px;
  
}